extends index.pug

block content
    ul
        each computer in comps
            - url = `/computers/${computer.id}`;
            li: a(href=url) Computer Id: #{computer.id}<br>Manufacturer: #{computer.manufacturer}<br>Make: #{computer.make}<br>Purchase Date: #{computer.purchase_date}
