extends index.pug

block content
    ul
        each computer in comps
            - url = `/computers/${computer.id}`;
            li(class='lists'): a(href=url) #{computer.id} | #{computer.manufacturer} #{computer.make}
