extends index.pug

block content
  ul(id="empData")
            li(class="lists") #{dept.name}
            li ID: #{dept.id}
            li Supervisor: #{supervisor.first_name} #{supervisor.last_name}
            li Budget: #{dept.budget}
