extends index.pug

block content
   div(class="addComputer")
      div(class="marginLeft")
        form(method="POST",action='/employees')
          label(for="first_name") Employee First Name: 
          input(type="text", name="first_name", required=true)
          br
          label(for="last_name") Employee Last Name: 
          input(type="text", name="last_name", required=true)
          br
          label(for="hire_date") Start Date:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
          input(type="date", name="hire_date", required=true)
          br
          label(for="dept_id") Department:&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
          select(name="dept_id")
            option(value="" disabled) Select:
              for dept in depts
                option(value=`${dept.id}`) #{dept.name}
          button(type="submit" id="submitEmp" class="btn btn-secondary submitEmp") Submit