extends index.pug

block content
    ul
        each employee in emps
            - url = `/employees/${employee.id}`;
            li: a(href=url) Name: #{employee.first_name} #{employee.last_name}<br>Department #{employee.dept_id}<br> Employee Id: #{employee.id}

