extends index.pug

block content
    ul(id="empData")
            li(class="lists") Name: #{emp.first_name} #{emp.last_name}<br>Department: #{emp.Department.name}<br> Employee Id: #{emp.id}
            ul
                each training in Trainings
                        li Attendee of #{training.dataValues.name}
            ul
                each comp in Computers
                        li Assigned Computer ID: #{comp.dataValues.id}



    button(type='button' class='btn' id="btn") Edit Employee
    div( class='hidden empForm' id="formBtn" action='')
    form(method='POST' action=`/employees/${emp.id}?_method=PUT`)
        p(id='empID' class='hidden') #{emp.id}
        label(for="firstName") First Name
        input(type='text' name='firstName' class='' id="firstName" value=emp.first_name)
        label(for="lastName") Last Name
        input(type='text' name='lastName' class='' id="lastName" value=emp.last_name)
        label(for="deptId") Department ID
        input(type='number' name='deptId' class='' id="deptId" value=emp.dept_id)
        label(for="compId") Computer ID
        input(type='number' name='compId' class='' id="compId" value=Computers[0].id)
        //- from getSingleEmployee object, use [0] because it's an array
        div Training Programs
            for train in Trainings
                p #{train.name}
                button(class="xbuttons", name=`${emp.id}`, value=`${train.id}`) X
                //- Get these with jQuery by class, but use the name and value attributes to collect their data on the other side
        div
            label(for="training-id") Add Training for Employee:
            select(name="training-id")
                option(value="" disabled selected) Select:
                    for opt in PossibleTrainings
                        option(value=`${opt.id}`) #{opt.name}
            button(type="submit" id="btn2") Submit

    script
        include ../node_modules/jquery/dist/jquery.js
        include ../public/employeepug.js
        //- Include separate file here to make sure it loads AFTER the pug loads
