extends index.pug

block content
  -url = '/training/create';
  button: a(href=url) Add Program<br>

  ul
        each program in progs
          - url = `/training/${program.id}`;
            li(class='lists'): a(href=url) Class Id: #{program.id}<br>Class Name: #{program.name}<br>Start Date: #{program.start_date}<br>End Date: #{program.end_date}<br>Max Attendees: #{program.max_attendees}

