extends index.pug

block content
  -url = '/training/create';
  button: a(href=url) Add Program<br>

  ul
        each program in progs
          - url = `/training/${program.id}`;
            li(class='lists'): a(href=url) #{program.id} | #{program.name}
